
/CreateAuthomaSchemes/.vs/CreateAuthomaSchemes/FileContentIndex
CreateAuthomaSchemes/CreateAuthomaSchemes/appsettings.json
/CreateAuthomaSchemes/.vs/CreateAuthomaSchemes/v17
/CreateAuthomaSchemes/CreateAuthomaSchemes/bin/Debug/net8.0
/CreateAuthomaSchemes/CreateAuthomaSchemes/bin/Debug/net8.0
CreateAuthomaSchemes/CreateAuthomaSchemes/obj/CreateAuthomaSchemes.csproj.nuget.dgspec.json
CreateAuthomaSchemes/CreateAuthomaSchemes/obj/Debug/net8.0/apphost.exe
CreateAuthomaSchemes/CreateAuthomaSchemes/obj/project.assets.json
CreateAuthomaSchemes/CreateAuthomaSchemes/obj/project.nuget.cache
CreateAuthomaSchemes/CreateAuthomaSchemes/obj/project.nuget.cache
CreateAuthomaSchemes/CreateAuthomaSchemes/obj/project.assets.json

CreateAuthomaSchemes/CreateAuthomaSchemes/obj/CreateAuthomaSchemes.csproj.nuget.dgspec.json
CreateAuthomaSchemes/CreateAuthomaSchemes/obj/Debug/net8.0/CreateAuthomaSchemes.AssemblyInfo.cs
CreateAuthomaSchemes/CreateAuthomaSchemes/obj/Debug/net8.0/CreateAuthomaSchemes.AssemblyInfoInputs.cache
CreateAuthomaSchemes/CreateAuthomaSchemes/obj/Debug/net8.0/CreateAuthomaSchemes.assets.cache
CreateAuthomaSchemes/CreateAuthomaSchemes/obj/Debug/net8.0/CreateAuthomaSchemes.GeneratedMSBuildEditorConfig.editorconfig
CreateAuthomaSchemes/CreateAuthomaSchemes/obj/project.assets.json
CreateAuthomaSchemes/CreateAuthomaSchemes/obj/project.nuget.cache
