@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br />
    <h1 class="display-3">Inteligentny System Analizy Automatów</h1>
    <h3 class="align-content-md-start card">Witaj</h3> 
    <p>Inteligentny System Analizy Automatów to zaawansowane narzędzie wspierające naukę, badania oraz projektowanie automatów stanowych. Aplikacja umożliwia użytkownikom generowanie oraz wizualizację automatów na podstawie opisów tekstowych w języku naturalnym. Dzięki zastosowaniu sztucznej inteligencji i nowoczesnych technologii, narzędzie pozwala na szybkie i intuicyjne przekształcanie specyfikacji w formalne modele, które można analizować, wizualizować i eksportować do dalszej pracy.</p>
    <br /><br />
    <p><a class="align-content-lg-center" asp-page="/GenerateMachine"><button type="button" class="btn btn-primary btn-lg">Kliknij i sprawdź</button></a></p>
</div>
